@media screen and (min-width: 601px) and (max-width: 959px){
body{
  padding: 0;
  margin: 0;
}
  
#wrapper{
  width: 100%;  
} 
  
nav ul li a{
  padding: 10px 8px 10px;  
}  
  
#top_banner{
  height: 0px;
}  
  
header .social_icons{                                           
  position: absolute;
  top: 80px;
  right: 10px;
}
  
#double_col{
  width: 98%; 
}
  
#menu_special{
  margin: 10px;
  width: 98%;
}
 
} 